{% extends 'layout.html' %}

{% block title %}Change Password Page{% endblock %}

{% block body %}
  <div class="container text-center mt-5">
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="p-2">
        {{ change_password_form.new_password }}
        {{ change_password_form.new_password.errors }}
      </div>
      <div class="p-2">
        {{ change_password_form.confirm_new_password }}
        {{ change_password_form.confirm_new_password.errors }}
      </div>
      <button class="btn btn-dark mt-3 mb-3" type="submit">Change Password</button>
    </form>
  </div>
{% endblock %}
