{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
  <div>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{% url 'profile' %}" class="nav-link px-2 text-black fw-bold link-primary">Profile</a></li>
        {% if not user.is_email_active %}
        <li><a href="{% url 'email_verification' %}" class="nav-link px-2 text-black fw-bold link-primary">Verify Email Address</a></li>
        {% endif %}
      <li><a href="{% url 'logout' %}" class="nav-link px-2 text-black fw-bold link-primary">Logout</a></li>
    </ul>
  </div>
    
{% endblock %}
