<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'index' %}" class="nav-link px-2 text-secondary link-secondary">Home</a></li>
          {% if request.user.last_login %}
          <li><a href="{% url 'dashboard' %}" class="nav-link px-2 text-white link-primary">Dashboard</a></li>
          <li><a href="{% url 'create_article' %}" class="nav-link px-2 text-white link-primary">Create Article</a></li>
          <li><a href="{% url 'articles' request.user.username %}" class="nav-link px-2 text-white link-primary">Your Articles</a></li>
          {% endif %}
        </ul>

        {% if request.user.profile_image %}
        <a href="{% url 'dashboard' %}" class="d-block text-decoration-none text-white h6">
          <img src="{{ request.user.profile_image.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
          {{ request.user.username }}
        </a>
        {% endif %}

        {% if not request.user.last_login %}
        <div class="text-end">
          <a href="{% url 'login' %}" class="text-decoration-none">
            <button type="button" class="btn btn-outline-light me-2">Login</button>
          </a>
          <a href="{% url 'signup' %}" class="text-decoration-none">
            <button type="button" class="btn btn-warning">Sign up</button>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
</header>
