{% extends 'layout.html' %}
{% load static %}

{% block title %}Create Article{% endblock %}

{% block body %}
  <div class="container m-3">
    <div class="row">
      <form class="col-6" method="post" novalidate>
        {% csrf_token %}
        <div class="p-2">
          {{ article_form.title }}
          {{ article_form.title.errors }}
        </div>
        <div class="p-2">
          {{ article_form.content }}
          {{ article_form.content.errors }}
        </div>
        <button class="btn btn-dark mt-3 mb-3" type="submit">Create Article</button>
      </form>
  
      <div class="col-6" id="md-viewer"></div>
    </div>
  </div>
{% endblock %}

{% block js_ref_footer %}
<script src="{% static 'article/js/article_bundle.js' %}"></script>
{% endblock %}
