{% extends 'layout.html' %}
{% load static %}

{% block title %}Create Article{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <form class="col-6" method="post" novalidate>
        {% csrf_token %}
        {{ article_form.as_p }}
        <button class="btn btn-dark" type="submit">Create Article</button>
      </form>
  
      <div class="col-6" id="md-viewer"></div>
    </div>
  </div>
{% endblock %}

{% block js_ref_footer %}
<script src="{% static 'article/js/article_bundle.js' %}"></script>
{% endblock %}
